{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extra_actions %}
    {% if original and original.uuid %}
    <div class="text-lg">
        {% trans 'Soundcharts API' %}
    </div>
    <div class="form-group mt-2">
        
        <form method="post" action="{{ request.path }}" style="display: inline;">
            {% csrf_token %}
             <input type="submit" value="{% trans 'Fetch Metadata from API' %}" name="_fetch_metadata" class="btn btn-info w-100">
        </form>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %} 